<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSRouteDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>061F66F51FCFF92B00CCF07F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>061F670D1FCFF92C00CCF07F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>061F67181FCFF92C00CCF07F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
